
#header{
  font-family: 'Bungee', sans-serif;
 
  font-size: large;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  z-index: 1;
  padding: 1.5em;
  
  text-align: center;
  background-color: #0b00ab;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}