

#navBar{
  /* position: fixed; */
  font-family: 'Bungee', sans-serif;
  position:fixed;
 
  font-size:xx-large;

  height: 60px;
  width: 100%;
  background-color: MidnightBlue;
  color: #FFFFFF;
  z-index: 1;
  padding: 1.5em;
  display:none 
}


#Bar1 {
  float: left;
 
  font-size:xx-large;
  height: 12px;
}

#Bar2 {
  float: right;
 
  height: 20px;
  font-size:medium;
}


#Bar2:hover {
 
  height: 30px;
  font-size:large;
}


@media only screen and (min-width: 768px) {

  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
  
 
  
  #navBar{ display:inline;
  }

  #Bar3 {
    float: left;
    vertical-align: middle;
    font-size:xx-large;
    height: 12px;
  
  
  }
  
  #Bar4 {
    float: right;
    height: 20px;
    font-size:medium;

  }
 

  

}