

#navBar{
  /* position: fixed; */
  font-family: 'Bungee', sans-serif;
  position:fixed;
 
  font-size:xx-large;

  height: 60px;
  width: 100%;
  background-color: MidnightBlue;
  color: #FFFFFF;
  z-index: 1;
  padding: 1.5em;
}

#Bar1 {

  align:left;
  height: 12px;

}

#Bar2 {

  align:right;
  height: 20px;
  font-size:medium;

}


#Bar2:hover {

  align:right;
  height: 20px;
  font-size:large;

}