
#text {

	width: 100%;
	height: 50px;
	border: none;
	background-image: url(bg.gif);
	background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #f4f1ec;
    
}


#button-tweet {
    float: left;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 24px;
   
    
  }

#counter {
  
  float: right; 
  
}   

  article {
  display: block;
  background-color: gray;
  border-radius: 6x;
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 10px 60px 20px 10px;
  position: relative;
  margin-bottom: 40px;
  border: 5px solid #34495e;
 }

  article:hover {
  display: block;
  background-color: gray;
  border-radius: 6x;
  color: black;
  font-size: 24px;
  text-align: left;
  padding: 10px 60px 20px 10px;
  position: relative;
  margin-bottom: 40px;
  border: 5px solid #34495e;
 }


